body {
  margin: 0;
  background: #ffffff;
  color: #fa0082;
}

.footer {
  background: #fa0082;
  color: white;
  padding: 40px 80px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1px 1fr 1fr 1fr;
  gap: 40px;
  align-items: flex-start;
}

.footer-left h2 {
  font-size: 42px;
  font-weight: 300;
}

.footer-left span {
  font-style: italic;
  font-weight: 500;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ffffff5c;
  color: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
  transition: transform 0.3s;
}

.btn-icon:hover {
  transform: scale(1.15);
  background: #ffffff;
  color: #fa0082;
}

.divider {
  width: 10px;
  background: #ffffff;
}

.footer-column h3 {
  font-size: 36px;
  margin-bottom: 15px;
}

.footer-column a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-column a:hover {
  text-decoration: underline;
}
